footer#mdp-footer-container {
	background-color: $brownDark;
	bottom: 0;
	height: 28px;
	position: fixed;
	width: 100%;

	ul {
		height:auto;
		margin: 0 auto;
		width:100%;
		display:flex;
		flex-flow:row wrap;
		justify-content:center;

		li {

			a {
				color: $green;
				display: block;
				font-family: $fontArial;
				font-weight: bold;
				line-height: $lineHeight;
				font-size:$fontSize;
				letter-spacing: 1px;
				padding: 5px 40px;					
				text-align:center;
			}

			&:hover {
				background-color:$brownMedium;
			}
		}
	}
}