header#mdp-header-container {
	background: $brownDark none repeat scroll 0% 0%;
	width:100%;
	#mdp-header-logo-container {
		max-width: 990px;
	    height: 135px;
	    padding-top: 5px;
	    margin: 0 auto;
	    text-align: left;
	}

	nav {
		background: transparent linear-gradient(to bottom, $brownMedium 0%, $brownDark 100%) repeat scroll 0% 0%;
		box-shadow: 0 -5px 20px 5px black;
		width: 100%;


		ul {
			margin: 0 auto;
			max-width: 990px;
			display:flex;
			flex-flow:row wrap;
			justify-content:center;

			li {
				list-style:none;
				padding: 0;
				height: 38px;

				a {
					color: $green;
					display: block;
					font-family: $fontArial;
					line-height: $lineHeight;
					font-size:$fontSize;
					font-weight: bold;
					height: auto;
					letter-spacing: 1px;
					padding: 10px 35px;
					text-align:center;
				}

				&:hover {
					background-color:$brownLight;
				}
			}
		}
	}
}